---
interface Props {
    tag: string
}
const { tag } = Astro.props;

const normTag = tag.trim().replaceAll(' ', '-');
---

<li class="selectable-tag">
    <label for={tag}>
        <input type="checkbox" id={normTag.toLowerCase()} class="selectable-tag-checkbox" value={normTag}/>
        {tag}
    </label>
</li>
