.clip-frame, .clip-shape {
    --tx-clip: 5px; /* edit in place for different clips */
    --tx-clipped: calc(100% - var(--tx-clip));
}

.clip-shape.octagone {
    --tx-clip-octagone: polygon(
        var(--tx-clip) 0%, 
        var(--tx-clipped) 0%, 
        100% var(--tx-clip), 
        100% var(--tx-clipped), 
        var(--tx-clipped) 100%, 
        var(--tx-clip) 100%, 
        0% var(--tx-clipped) , 
        0% var(--tx-clip)
    );
    clip-path: var(--tx-clip-corners);
}

.clip-frame {
    --tx-frame-width: var(--tx-line-width-xs); /* edit in place for different frame widths */
    --tx-clip-int: calc(var(--tx-frame-width) + var(--tx-clip));
    --tx-line-clip: calc(100% - var(--tx-frame-width));
    --tx-clipped-int: calc(100% - var(--tx-clip) - var(--tx-frame-width));
}

.clip-frame.octagone {
    --tx-clip-octagone-frame: polygon(
        50% 0%,
        var(--tx-clip) 0%,
        0% var(--tx-clip),
        0% var(--tx-clipped),
        var(--tx-clip) 100%,
        var(--tx-clipped) 100%,
        100% var(--tx-clipped),
        100% var(--tx-clip),
        var(--tx-clipped) 0%,
        50% 0%,
        50% var(--tx-frame-width),
        var(--tx-clipped-int) var(--tx-frame-width),
        var(--tx-line-clip) var(--tx-clip-int),
        var(--tx-line-clip) var(--tx-clipped-int),
        var(--tx-clipped-int) var(--tx-line-clip),
        var(--tx-clip-int) var(--tx-line-clip),
        var(--tx-frame-width) var(--tx-clipped-int),
        var(--tx-frame-width) var(--tx-clip-int),
        var(--tx-clip-int) var(--tx-frame-width),
        50% var(--tx-frame-width)
    );
    clip-path: var(--tx-polygon-frame);
}

.clip-shape.arrow {
    --tx-clip-arrow: polygon(
        0 0, 
        var(--tx-clipped) 0,
        100% 50%, 
        var(--tx-clipped) 100%,
        0 100%
    );
    clip-path: var(--tx-clip-arrow);
}

.clip-frame.arrow {
    --tx-clip-arrow-frame: polygon(
        0 0, 
        var(--tx-clipped) 0,
        100% 50%, 
        var(--tx-clipped) 100%,
        0 100%,
        0 var(--tx-line-clip),
        var(--tx-clipped-int) var(--tx-line-clip),
        var(--tx-line-clip) 50%,
        var(--tx-clipped-int) var(--tx-frame-width),
        0 var(--tx-frame-width)
    );
    clip-path: var(--tx-clip-arrow-frame);
}