


html:not(:has( #edges:checked)) .tx-framed-m::before {
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--tx-color-line);
    clip-path: var(--tx-polygon-frame-m);
}
.tx-framed-m {
    border: var(--tx-frame-width) solid var(--tx-color-line);
    clip-path: var(--tx-clip-corners-m);
}

/* Frame */


/* outermost filters container *
 * ============================= */
#tx-filters-section {
    z-index: var(--tx-z-main-nav);
    overflow-y: hidden;
    position: fixed;
    top: var(--tx-main-header-height);
    left: 2.5%;
    transition: var(--js-calc-duration) height;
    
    height: calc(98% - var(--tx-main-header-height));
    width: 95%;
}
#tx-filters-section fieldset {
    border: 0;
    position: relative;   
}


#tx-filters-section > form {
    
    border-radius: var(--tx-border-radius-m);
    /* padding: var(--tx-padding-m); */
    height: 100%;
    width: 100%;
    
    background-color: var(--tx-color-background-alpha);

    --tx-tag-sel-field-height: 4rem;
    --tx-filter-sec-legend-height: 1rem;
}


/* tags outermost fieldset *
 * ======================= */

#tag-filters-section {

    /* --filters-menu-gap:0.4rem; */

    padding: 0;
    margin: 0;
    border: 0;
    font-size: 120%;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 17% 17% 17% 17% 17%;
    grid-template-rows: 50% 3rem 1fr;
    gap: 0.4rem 0;
    grid-template-areas:
        'tagToggles tagToggles tagToggles tagLists tagLists tagLists'
        '         .          .          apply       apply    apply    apply'
        'selM selM selC selC selL selL';
}




/* 
 * Lists Toggles Fieldset *
 * ========================================================================== *
 */

#tags-lists-toggles:has(>.tag-selection-toggle) {
    grid-area: tagToggles;
    width: 100%;
    height: 100%;
    /* background-color: green; */
    /* border-right: var(--tx-line-width-xs) solid var(--tx-color-line); */
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: var(--tx-line-width-xs) solid var(--tx-color-line);
}
#tags-lists-toggles::before {
    content: '';
    z-index: 100;
    position: absolute;
    height: 100%;
    border-left: var(--tx-line-width-xs) solid var(--tx-color-line);
    border-right: var(--tx-line-width-xs) solid var(--tx-color-line);
    top: 0;
    right: calc(0.4rem + 2*var(--tx-line-width-xs));
    width: 0.4rem;
}
.tag-selection-toggle {
    color: inherit;
    z-index: 10;
    background-color: transparent;
    border: 0;
    /* padding: var(--tx-line-width-xs); */
    text-align: right;
    position: relative;
    display: flex;
    padding-right: 0.8rem;
    border: var(--tx-frame-width) solid transparent;
}
.tag-selection-toggle > span {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-right: 2.2rem;
}


.tag-selection-toggle:is(:hover, :active, [aria-expanded=true]) > span {
    background-image: linear-gradient(to left, 
        var(--tx-color-background-accent),var(--tx-color-background-accent),
        var(--tx-color-background-accent-alpha),var(--tx-color-background-accent-alpha),
        transparent, transparent
    );
}

html:not(:has( #edges:checked)) .tag-selection-toggle[aria-expanded=true] > span::before {
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(to left, 
        var(--tx-color-line),
        var(--tx-color-line-alpha),
        transparent, transparent
    );
    --tx-clip-int: calc(var(--tx-frame-width) + var(--tx-clip));
    --tx-line-clip: calc(100% - var(--tx-frame-width));
    --tx-clipped-int: calc(100% - var(--tx-clip) - var(--tx-frame-width));
    clip-path: polygon(
        0 0, 
        var(--tx-clipped) 0,
        100% 50%, 
        var(--tx-clipped) 100%,
        0 100%,
        0 var(--tx-line-clip),
        var(--tx-clipped-int) var(--tx-line-clip),
        var(--tx-line-clip) 50%,
        var(--tx-clipped-int) var(--tx-frame-width),
        0 var(--tx-frame-width)
    );
}
.tag-selection-toggle > span {
    --tx-frame-width: var(--tx-line-width-xs);
    border: var(--tx-frame-width) solid transparent/* var(--tx-color-line) */;
    --tx-clip: 0.8rem;
    --tx-clipped: calc(100% - var(--tx-clip));
}
.tag-selection-toggle[aria-expanded=true] {
    padding-right: 0;
    z-index: 100;
}
.tag-selection-toggle[aria-expanded=true] > span {
    padding-right: 3rem;
    clip-path: polygon(
        0 0, 
        var(--tx-clipped) 0,
        100% 50%, 
        var(--tx-clipped) 100%,
        0 100%
    );
}



/* 
 * Tags Lists Fieldset *
 * ========================================================================== *
 */

#tags-lists {
    grid-area: tagLists;
    width: 100%;
    height: 100%;
    padding: 0 2rem 0 0;
   /*  background-color: yellowgreen; */
   
}
#tags-lists:has( .selectable-tags-list) {
    /* border-left: var(--tx-line-width-xs) solid var(--tx-color-line); */
    border-bottom: var(--tx-line-width-xs) solid var(--tx-color-line);
}

.selectable-tags-list {
    padding-left: 0;
    transition: var(--js-calc-duration) height;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
}


.selectable-tag {
    position: relative;
}
.selectable-tag:hover {
    background-image: linear-gradient(to right, 
        var(--tx-color-background-accent),var(--tx-color-background-accent),
        var(--tx-color-background-accent-alpha),var(--tx-color-background-accent-alpha),
        transparent, transparent
    );
}
.selectable-tag-checkbox {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.selectable-tag:has( :checked) {
    background-color: var(--tx-color-background-accent-alpha);
}


/* 
 * Controls Row *
 * ========================================================================== *
 */
#apply-filters {
    grid-area: apply;
}
#apply-filters {
    color: inherit;
    background-color: var(--tx-color-two-background);
    border: var(--tx-line-width-xs) solid transparent;
    border-radius: var(--tx-border-radius-soft);
    padding: var(--tx-padding-s);
}
#apply-filters:hover {
    border: var(--tx-line-width-xs) solid var(--tx-color-two-line);
    background-color: var(--tx-color-two-background-strong-alpha);
}
#apply-filters:is(:active, :focus) {
    background-color: var(--tx-color-two-background-accent);
}



/* 
 * Selected filters view *
 * ========================================================================== *
 */
#misc-filters-selected {
    grid-area: selM;
}
#content-filters-selected {
    grid-area: selC;
}
#location-filters-selected {
    grid-area: selL;
}


.filters-selected-section {
    padding: var(--tx-padding-s);
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}




/* 
.tag-selection-field {
    width: 100%;
    height: 100%;
}
.tag-selection-field > fieldset {
    width: 100%;
    height: 100%;
}
.tag-selection-wrap {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}
 */





















[data-tag-filter]::after {
    content: ' ×';
}
.filters-selected {
    list-style-type: none;
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    gap: 0.1em;
}

[data-tag-filter] {
    color: inherit;
    background-color: var(--tx-color-two-background);
    border: var(--tx-line-width-xs) solid transparent;
    border-radius: var(--tx-border-radius-soft);
    padding: var(--tx-padding-s);
}
[data-tag-filter]:hover {
    border: var(--tx-line-width-xs) solid var(--tx-color-two-line);
    background-color: var(--tx-color-two-background-strong-alpha);
}
[data-tag-filter]:is(:active, :focus) {
    background-color: var(--tx-color-two-background-accent);
}















[data-height-null=true] {
    height: 0 !important;
}










#tx-mod-articles {
	opacity: 1;
	overflow-y: hidden;
	transition: 0.4s opacity 0.2s;
}
#tx-mod-articles[aria-busy=true] {
	opacity: 0;
    transition: 0.4s opacity;
}

html:has( #tx-mod-articles[aria-busy=true]),
html:has( #tx-filters-section[data-height-null=false]) {
	overflow: hidden;
}
#tx-filters-section::before {
    z-index: 100;
	position: absolute;
	top: 50%;
	right: 50%;
    transform: translate(50%,-50%);
	background-image: var(--loading-icon);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 60%;
	height: 60%;
	opacity: 0;
	transition: 0.4s opacity;
}
html:has( #tx-mod-articles[aria-busy=true]) #tx-filters-section > form > * {
    opacity: 0;
    transition: 0.1s opacity 0s;
}

#tx-filters-section > form > * {
    transition: 0.1s opacity 0.3s;
    opacity: 1;
}
html:has( #tx-mod-articles[aria-busy=true]) #tx-filters-section::before {
	content: '';
	opacity: 1;
}