#main-footer {
    position: relative;
    width: 100%;
    
    
    --tx-clip: 14px;
    --tx-frame-width: var(--tx-line-width-s);
    padding: 0;
}

#main-footer-container {
    position: relative;
    padding: calc(var(--tx-main-header-height) - var(--tx-clip)) var(--tx-right-offset) 0 var(--tx-left-offset);
    background-color: var(--tx-color-fiv-background-alpha); 
    background-image: var(--tx-main-header-background-image);
    background-size: auto var(--tx-main-header-height);
    background-repeat: repeat-x;
}
#main-footer-container > section {
    padding: 1rem;
}
