#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--tx-z-main-header);
    height: var(--tx-main-header-height);
    background-color: var(--tx-color-fiv-background-alpha); 
    background-image: var(--tx-main-header-background-image);
    padding: 0;
    padding-bottom: calc(var(--tx-clip) + var(--tx-frame-width));
    --tx-clip: var(--tx-main-header-clip);
    --tx-clip-offset-left: 2vw;
    --tx-clip-offset-right: 2vw;
    --tx-frame-width: var(--tx-line-width-s);
}

:root {
    --tx-left-offset: calc(2vw + 7.5px);
    --tx-right-offset: calc(7.5px + 2vw);

    --tx-main-header-clip: 15px;
    --tx-main-header-height: 5.2rem;
    --tx-body-padding-top: calc(var(--tx-main-header-height) - var(--tx-main-header-clip)/2);
    --tx-top-offset: calc(var(--tx-main-header-height) - var(--tx-main-header-clip)/2);
}

/* html:not(:has( #edges:checked)) #main-header::after {
    content: '';
    z-index: 100;
    position: absolute;
    top: 50%;
	right: 50%;
    transform: translate(50%,-50%);
    width: 100%;
    height: 100%;

    background-color: var(--tx-color-line);
    clip-path: var(--tx-polygon-frame-m);
} */

#main-header-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
     
    /* border: var(--tx-frame-width) solid var(--tx-color-line);  */
    /* border-radius: var(--tx-border-radius-m); */
    /* clip-path: var(--tx-clip-corners-m); */
    padding: 0;
}
#main-header-container > :not(button) {
    display: inline-block;
    padding: var(--tx-padding-xs);
    background-color: rgba(0, 0, 0, 0.1);
}
#main-header-container > :not(button):hover {
    background-color: var(--tx-color-background-accent-alpha);
}
















#tx-page-content {
    padding: var(--tx-body-padding-top) var(--tx-left-offset) 0 var(--tx-right-offset);
}

#wiki-links {
    position: relative;
}

#main-header button {
    color: inherit;
    background-color: var(--tx-color-two-background);
    border: var(--tx-line-width-xs) solid transparent;
    border-radius: var(--tx-border-radius-soft);
    padding: var(--tx-padding-s);
}
#main-header button:hover {
    border: var(--tx-line-width-xs) solid var(--tx-color-two-line);
    background-color: var(--tx-color-two-background-strong-alpha);
}
#main-header button:is(:active, :focus) {
    background-color: var(--tx-color-two-background-accent);
}