:root, :host {

    --tx-font-family-serif: Georgia, 'Times New Roman', Times, serif;
    --tx-font-family-sans: system-ui, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --tx-font-family-monospace: ui-monospace, Menlo, Consolas, 'Courier New', Courier, monospace;
    --tx-font-family: var(--tx-font-family-sans);
    --tx-title-font-family: var(--tx-font-family-serif);

    --tx-font-weight: 500;
    --tx-code-font-weight: 600;
    --tx-title-font-weight: 800;
    --tx-button-font-weight: 600;

    --tx-font-size: 1rem;
    --tx-h1-font-size: 2rem;
    --tx-h2-font-size: 1.6rem;
    --tx-h3-font-size: 1.2rem;

    --tx-line-height: 1.5;
    --tx-title-line-height: 1.3;
    --tx-text-underline-offset: 0.1em;
    --tx-line-width-xxs: 1px;
    --tx-line-width-xs: 2px;
    --tx-line-width-s: 4px;

    --tx-text-padding-horizontal: 0.4rem;

    --tx-border-radius-soft: 0.2em;
    --tx-border-radius-m: 0.4em;
    --tx-border-radius-circle: 50%;

    --tx-list-indent: 1.6rem;

    --tx-padding-xs: 0.125rem 0.25rem;
    --tx-padding-s: 0.25rem 0.4rem;
    --tx-padding-m: 0.25rem 0.75rem;
    --tx-padding-horizontal-s: 0 0.4rem;
    --tx-padding-horizontal-m: 0 0.75rem;

    --tx-spacing-xs: 0.1rem;
    --tx-spacing-s: 0.3rem;
    --tx-spacing-m: 0.7rem;
    --tx-spacing-l: 1rem;

    --tx-title-margin-bottom: 0.3em;

    --tx-transition: 400ms;
    --tx-z-main-header: 1300;
    --tx-z-main-nav: 1200;
    --tx-z-modal: 1500;

}

/* Body & inheritance *
 * ================== */

html, body {
    /* Layout & Theme root setup */ 
    scrollbar-width: thin;
    scroll-behavior: var(--tx-scroll-behavior);
    scrollbar-color: var(--tx-color-scrollbar) var(--tx-color-scrollbar-track);
    background-color: var(--tx-color-background);
    color: var(--tx-color-text);
    font-weight: var(--tx-font-weight);
    font-size: var(--tx-font-size);
    line-height: var(--tx-line-height);
    font-family: var(--tx-font-family);
    text-underline-offset: var(--tx-text-underline-offset);
    
}

/* Titles * 
 * ====== */

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--tx-title-font-weight);
    font-family: var(--tx-title-font-family);
    line-height: var(--tx-title-line-height);
    margin-bottom: var(--tx-title-margin-bottom);
}
h2 {
    font-size: var(--tx-h2-font-size);
}
h3 {
    font-size: var(--tx-h3-font-size);
}



/* Lists *
 * ===== */

ul, dl, ol {
    padding-left: var(--tx-list-indent);
}


/* Links *
 * ===== */

:where(a:not([role=button])),
[role=link] {
    outline: none;
    color: var(--tx-color-for);
    -webkit-text-decoration: var(--text-decoration);
    text-decoration: var(--text-decoration);
    text-decoration-color: var(--tx-color-for-line);
    text-underline-offset: 0.125em;
    transition: color var(--tx-transition), outline var(--tx-transition), -webkit-text-decoration var(--tx-transition);
    transition: color var(--tx-transition), text-decoration var(--tx-transition), outline var(--tx-transition);
    transition: color var(--tx-transition), text-decoration var(--tx-transition), outline var(--tx-transition), -webkit-text-decoration var(--tx-transition);
}
:where(a:not([role=button])):is(:hover, :active, :focus),
[role=link]:is(:hover, :active, :focus) {
    --text-decoration: underline;
    color: var(--tx-color-for-accent);
}


:where(a:not([role=button])):visited,
[role=link]:visited {
    color: var(--tx-color-two);
    text-decoration-color: var(--tx-color-two-line);
}
:where(a:not([role=button])):visited:is(:hover, :active, :focus),
[role=link]:visited:is(:hover, :active, :focus) {
    color: var(--tx-color-two-accent);
}


/* Buttons *
 * ======= */






[type=checkbox].switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

[aria-current=page]::after {
    display: inline-block;
    vertical-align: middle;
    content: '';
    aspect-ratio: 75/65;
    background-image: var(--tx-loc);
    background-repeat: no-repeat;
}
.aria-current-page {
    display: inline-block;
    vertical-align: middle;
    height: 1.6em;
    aspect-ratio: 75/65;
    background-repeat: no-repeat;
    background-image: var(--tx-loc);
}


/* general icons */
.add-tick::after {
    content: '';

    --cols: 4;  
    --rows: 1;  

    --row: 0;   

    background: var(--tx-generic-icons-webp);
    background-repeat: repeat; 

    background-size: 
      calc(100% * var(--cols))  
      calc(100% * var(--rows)); 

    background-position: 
      calc(-100% * var(--col))   
      calc(-100% * var(--row));  

    display: inline-block;
    height: 1.4em;
    aspect-ratio: 1;
}