/* Variables *
 * ========= */
:root, :host {
    --mod-article-grid-desktop: 
        'im im im im h h h h h h h h h'
        'im im im im w w w w w w w w w'
        'im im im im r r r r r r r r r'
        'e  e  e  e  e e e e e e e e e'
        'c c c c c c c c c c c c c';
    --mod-article-grid-medium: 
        'h  h  h  h  h  h h h h h h h'
        'im im im im im w w w w w w w'
        'r  r  r  r  r  r r r r r r r'
        'e  e  e  e  e  e e e e e e e'
        'c  c  c  c  c  c c c c c c c';
    --mod-article-grid-mobile: 
        'h h h h h h h h h h h h'
        'im im im im im im im im im im im im'
        ' w w w w w w w w w w w w'
        ' r r r r r r r r r r r r'
        ' e e e e e e e e e e e e'
        'c  c c c c c c c c c c c';

    --mod-title-line-height:1.8;
    --mod-icons-height: calc(2rem*var(--mod-title-line-height));
    --mod-heading-direction: row;
}

.mod-article {
    padding: var(--tx-line-width-xs);
    background-color: var(--tx-color-line);
    
    border-radius: var(--tx-border-radius-soft);
    clip-path: var(--tx-clip-corners);  
    
    margin-bottom: 1rem;
}


/* Article Container *
 * ================= */

.mod-article-container {
    
    background-color: var(--tx-color-one-background);
    background-image: url('https://raw.githubusercontent.com/kahootics/Tuxborn_Companion/refs/heads/main/public/leaf-long.svg');

    /* border: var(--tx-line-width-xs) solid var(--tx-color-line); */
    border-radius: inherit;
    clip-path: inherit;

    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-areas: var(--mod-article-grid-desktop);    
}

.mod-text-container {
    padding: 0 var(--tx-spacing-s);
    margin: var(--tx-spacing-s) 0;
}


.mod-heading-container {
    margin-top: var(--tx-spacing-s);
    padding: 0 var(--tx-spacing-s);
}

.mod-text {
    padding: var(--tx-padding-m);
    background-color: var(--tx-color-two-background-alpha);
    border-radius: var(--tx-border-radius-soft);
    /* clipped corners */
    clip-path: var(--tx-clip-corners);
}
.mod-text > h3 {
    border-bottom: var(--tx-line-width-xxs) solid var(--tx-color-line);
}

@media screen and (max-width: 860px) {
    .mod-article-container {
        grid-template-areas: var(--mod-article-grid-medium);
    }
}
@media screen and (max-width: 576px) {
    :root, :host {
        --mod-icons-height: 2.4rem;
    }
    .mod-article-container {
        grid-template-areas: var(--mod-article-grid-mobile);
    }
    .mod-icons-container {
        max-width: none !important;
    }
}


/*
 * Header *
 * ========================================================================== *
 */


.mod-heading {
    --expected-height: calc(3rem);
    padding: var(--tx-padding-s);
    display: flex;
    width: 100%;
    gap: var(--tx-spacing-s);
    flex-flow: var(--mod-heading-direction);
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;

    background-color: var(--tx-color-two-background-strong-alpha);
    border-radius: var(--tx-border-radius-m);

    /* clipped corners */
    clip-path: var(--tx-clip-corners);
}

/* checkbox + header *
 * ================= */

.mod-sub-heading {
    display: flex;
    gap: inherit;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
}


/* Header *
 * ====== */

.mod-title {
    border-bottom: var(--tx-line-width-xs) solid var(--tx-color-line);
}

.mod-creator {
    font-size: 85%;
}

/* icons *
 * ===== */

.mod-icons-container:has( .mod-content-icon) {
    --icon-w: 75;
    --icon-h: 65;
    --sprite-cols: 7;  
    --sprite-rows: 5;  
    --max-col-width: 100vw;

    max-width: 100%;
    display: flex;
    height: var(--mod-icons-height);
    max-width: calc(var(--mod-icons-height)*var(--sprite-rows)/var(--icon-h)*var(--icon-w));
    justify-content: center;
}
.mod-content-icon {
    flex-shrink: 0;
    flex-grow: 0;

    --col: 0;   
    --row: 0;   

    aspect-ratio: var(--icon-w) / var(--icon-h); 

    height: 100%;

    background-image: url('https://raw.githubusercontent.com/kahootics/Tuxborn_Companion/refs/heads/main/public/content-icons-sprite.webp');
    background-repeat: repeat; 

    background-size: 
      calc(100% * var(--sprite-cols))  
      calc(100% * var(--sprite-rows)); 

    background-position: 
      calc(-100% * var(--col))   
      calc(-100% * var(--row));  
}





@media screen and (max-width: 576px) {
    .mod-heading {
        --mod-heading-direction: column;
        justify-content: center;
        align-items: stretch;
    }
}

label:has(> .mod-completion-checkbox) {
    display: block;
    aspect-ratio: 7/9;
    height: var(--expected-height);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transition: 0.2s background-color, 0.2s clip-path;
}
label:has(> .mod-completion-checkbox:checked) {
    background-color: currentColor;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);    
}
.mod-completion-checkbox {
    height: 100%;
    width: 100%;
    opacity: 0;
}


/*
 * Image (overview) *
 * ========================================================================== *
 */

.mod-overview-image-container {
    grid-area: im;
    padding: var(--tx-spacing-s);
}

.mod-image-container {
    padding: var(--tx-spacing-s);
}
.mod-image-wrapper img {
    border-radius: inherit;
    clip-path: inherit;
}
.mod-image-wrapper {
    padding: var(--tx-line-width-xs);
    border-radius: var(--tx-border-radius-m);
    background-color: var(--tx-color-one-line);
    /* clip corners */
    clip-path: var(--tx-clip-corners);
}


/* 
 * Mod Main Contents *
 * ========================================================================== *
 */


.mod-overview {
    
    
    grid-area: w;
}

.mod-requirements {
    margin-top: 0;
        grid-area: r;
}








.mod-controls {
    align-self: flex-end;
    grid-area: c;
    display: grid;
    grid-template-columns: auto 30% 30%;
    grid-template-areas: 'bt wiki nexus';
    text-align: center;
    border-top: var(--tx-line-width-xxs) solid var(--tx-color-line);
    background-color: var(--tx-color-two-background-alpha);
    font-weight: var(--tx-button-font-weight);
}
.mod-wiki-link {
    grid-area: wiki;
}
.mod-nexus-link {
    grid-area: nexus;
}
.mod-wiki-link, .mod-nexus-link {
    color: var(--tx-color-tre);
    text-decoration-color: var(--tx-color-tre-line) ;
    align-self: center;
}
:is(.mod-wiki-link, .mod-nexus-link):is(:hover, :focus, :active) {
    color: var(--tx-color-tre-accent);
}
.mod-see-more-less[aria-expanded] {
    background-color: var(--tx-color-one-background-alpha);
    padding: var(--tx-padding-s);
    color: inherit;
    border: 0;
    gap: 0.5rem;
    display: flex;
    justify-content: space-around;
}
.mod-see-more-less[aria-expanded]:is(:hover, :focus, :active) {
    background-color: var(--tx-color-one-background-accent-alpha);
}
.mod-see-more-less[aria-expanded]::before,
.mod-see-more-less[aria-expanded]::after {
    content: '';
    background-image: var(--triangle-icon);
    display: block;
  	width: 1rem;
  	height: 1rem;
    position: relative;
    top: 0.3em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.mod-see-more-less[aria-expanded=false]::before,
.mod-see-more-less[aria-expanded=false]::after {
    transform: rotate(180deg);
}


.mod-controlled {
    overflow-y: hidden;
    transition: max-height var(--js-calc-transition);
}
.mod-controlled[aria-hidden=true] {
    max-height: 0;
}
.mod-controlled[aria-hidden=false] {
    max-height: var(--js-calc-max-height);
}












.mod-heading-container {
    grid-area: h;
}

.mod-additional-details {
    grid-area: e;
}



.mod-additional-details {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        'im im d d d'
        'n n n n n';
}
.mod-additional-details:has(> .mod-directions) {
    grid-template-areas:
        'd d d di di'
        'n n n n n ';
}
@media screen and (max-width: 576px) {
    .mod-additional-details {
        display: block;
    }
}

.mod-image-container {
    grid-area: im;
}
.mod-directions {
    grid-area: di;
}
.mod-instructions {
    grid-area: d;
}
.mod-notes {
    grid-area: n;
}
















