---
import WikiElement from "./sub-components/wiki-element.astro";
const omni = 'https://github.com/Omni-guides/Tuxborn';
---
<aside id="wiki-links-section" aria-label="Wiki links section" data-height-null="true" hidden>
    <div class="tx-framed-m">
    <ul id="wiki-sub-links">
        <li><a href={ omni + "/wiki" } target="_blank">
                Wiki
        </a></li>
        <WikiElement wiki="Additional-player-resources" />
        <WikiElement wiki="Base-game-content-in-Tuxborn" />
        <WikiElement wiki="Content-and-quests" />
        <WikiElement wiki="Followers" />
        <WikiElement wiki="Frequently-Asked-Questions" />
        <WikiElement wiki="Help-with-modding-Tuxborn" />
        <WikiElement wiki="Installation-and-config-guides" />
        <WikiElement wiki="Known-quest%E2%80%90blocking-bugs-in-Tuxborn" />
        <WikiElement wiki="Legacy-of-the-Dragonborn" />
        <WikiElement wiki="Quest-mod-overviews" />
        <WikiElement wiki="Upgrading-Tuxborn" />
    </ul>
    </div>
</aside>

<style>

#wiki-links-section {
    position: fixed;
    top: var(--tx-main-header-height);
    z-index: var(--tx-z-main-nav);
    left: 50%;
    height: calc(98vh - var(--tx-main-header-height));
    width: max-content;
    max-width: 90vw;
    transform: translate(-50%,0);
    
    transition: 200ms height;
    overflow-y: hidden;
}
#wiki-links-section > div {
    width: 100%;
    height: 100%;
    background-color: var(--tx-color-background-alpha);
    padding-right: 1rem;
}
#wiki-sub-links {
    position: relative;
    font-size: 130%;
    padding: 1rem 1rem 1rem 3rem;
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
</style>