#main-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--tx-z-main-header);
    height: var(--tx-main-header-height);
    padding: 0.2rem 1.2rem;
}
/* 
#main-header > .trapezius-svg.right {
    position: absolute;
    right: 0.8rem;
    width: 1.2rem;
    height: calc(100% - 0.4rem);
    top: 0.2rem;
    transform: rotate(180deg);
}
#main-header > .trapezius-svg.left {
    position: absolute;
    left: 0.8rem;
    width: 1.2rem;
    height: calc(100% - 0.4rem);
    top: 0.2rem;
}

.trapezius-svg > svg {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}
use {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}


.trapezius-svg::before {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 10%;
    border-top: var(--tx-line-width-xs) solid var(--tx-color-line); 
    border-bottom: var(--tx-line-width-xs) solid var(--tx-color-line);    
    content: '';
} */

html:not(:has( #edges:checked)) #main-header::after {
    content: '';
    z-index: 100;
    position: absolute;
    top: 50%;
	right: 50%;
    transform: translate(50%,-50%);
    width: calc(100% - 2.4rem);
    height: calc(100% - 0.4rem);
    background-color: var(--tx-color-line);
    
    clip-path: var(--tx-polygon-frame-m);
}

#main-header-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    background-color: var(--tx-color-background-alpha);  
    border: var(--tx-frame-width) solid var(--tx-color-line); 
    border-radius: var(--tx-border-radius-m);
    clip-path: var(--tx-clip-corners-m);
    padding: 0;
}
#main-header-container > :not(button):hover {
    background-color: var(--tx-color-background-accent-alpha);
}
body {
    --tx-main-header-height: 3.4rem;
    padding-top: var(--tx-main-header-height);
}

#wiki-links {
    position: relative;
}

#main-header button {
    color: inherit;
    background-color: var(--tx-color-two-background);
    border: var(--tx-line-width-xs) solid transparent;
    border-radius: var(--tx-border-radius-soft);
    padding: var(--tx-padding-s);
}
#main-header button:hover {
    border: var(--tx-line-width-xs) solid var(--tx-color-two-line);
    background-color: var(--tx-color-two-background-strong-alpha);
}
#main-header button:is(:active, :focus) {
    background-color: var(--tx-color-two-background-accent);
}