
:root, :host {
    --tx-color-text: hsl(0, 0%, 95%);
    --tx-color-background: hsl(0, 0%, 5%);
    --tx-color-background-accent: hsl(0, 0%, 20%);
    --tx-color-background-alpha: hsla(0, 0%, 5%, 0.9);
    --tx-color-background-accent-alpha: hsla(0, 0%, 20%, 0.9);
    --tx-color-line: hsl(28, 6%, 90%);
    --tx-color-line-alpha: hsl(28, 6%, 90%, 0.9);
    

    --tx-color-scrollbar: grey;
    --tx-color-scrollbar-track: transparent;

    --tx-color-one-background: #C06A3A /* ad5c14 */;
    --tx-color-one-background-accent: hsl(21, 66%, 55%);
    --tx-color-one-background-alpha: hsla(21, 54%, 49%, 0.7) /* ad5c14 */;
    --tx-color-one-background-accent-alpha: hsl(21, 66%, 55%, 0.7);
    --tx-color-one-line: hsl(45, 97%, 50%);

    
    --tx-color-two: hsl(2, 69%, 41%);
    --tx-color-two-accent: hsl(2, 54%, 56%);
    --tx-color-two-background: hsl(14, 78%, 27%);
    --tx-color-two-background-accent: hsl(14, 70%, 34%);
    --tx-color-two-background-alpha: hsla(14, 79%, 24%, 0.7);
    --tx-color-two-background-strong-alpha: hsla(14, 85%, 20%, 0.75);
    --tx-color-two-line: hsl(18, 94%, 51%);

    --tx-color-tre: hsl(163, 27%, 51%);
    --tx-color-tre-accent: hsl(162, 24%, 67%);
    --tx-color-tre-line: hsl(158, 19%, 45%);

    --tx-color-for: hsl(210, 49%, 59%);
    --tx-color-for-accent: hsl(210, 54%, 74%);
    --tx-color-for-background: #2C3E50;
    --tx-color-for-line: hsl(210, 35%, 48%);


    --image-placeholder: var(--image-placeholder-white);
    --loading-icon: var(--loading-icon-white);
    --triangle-icon: var(--triangle-icon-white);
}