---
import SocialCard from "./sub-components/social-card.astro"
const ouro = "https://avatars.nexusmods.com/45888982/100";
const ourosocial = {
    github: 'https://github.com/Ouruboros',
    "Ko-fi": 'https://ko-fi.com/ouruboros'
}

---

<section>
    <h2>Tuxborn Team</h2>
    <SocialCard name="Ouroboros" avatarImg={ouro} socials={ourosocial}/>
</section>