---
interface Props {
    tagsType: string,
    tagTypeCapitalized: string
}
const { tagsType, tagTypeCapitalized } = Astro.props;
---

<section aria-live="polite" id={`${tagsType}-filters-selected`} class="filters-selected-section">
    <h3>{tagTypeCapitalized} Tags Selected:</h3>
    <ul id={`${tagsType}-tags-selected`} class="filters-selected" data-tags-type={tagsType}>
        {/* Selected tags will be created HERE */}
    </ul>
</section>